<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Dept</h1>
        <table border="3px">
            <tr>
                <th>DEPTNO</th>
                <th>DNAME</th>
                <th>LOC</th>
            </tr>

            {% for deo in LDE %}
                <tr>
                    <td>{{deo.deptno}}</td>
    
                    <td>{{deo.dname}}</td>
                    
                    <td>{{deo.location}}</td>
                    
                
                </tr>
            {% endfor %}


        </table>
    </center>
</body>
</html>