<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>SALGRADE</h1>
        <table border="3px">
            <tr>
                <th>GRADE</th>
                <th>LOSAL</th>
                <th>HISAL</th>
            </tr>
            {% for dea in SDO %}
                <tr>
                    <td>{{dea.GRADE}}</td>
    
                    <td>{{dea.LOSAL}}</td>
                    
                    <td>{{dea.HISAL}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>